{:mvn/repos
 {"central" {:url "https://maven.aliyun.com/repository/public/"}
  "clojars" {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars/"}
  "maven-central" {:url "https://repo1.maven.org/maven2/"}
  "clojars-default" {:url "https://clojars.org/repo/"}}

 :aliases
 {:nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}}

  :repl/clj {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                          cider/cider-nrepl {:mvn/version "0.55.1"}}
             :main-opts ["--main" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "--interactive"]}

  :repl/cljs {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                           cider/cider-nrepl {:mvn/version "0.55.1"}
                           cider/piggieback {:mvn/version "0.5.3"}}
              :main-opts ["--main" "nrepl.cmdline"
                          "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
                          "--interactive"]}

  :run {:main-opts ["-m" "main.core"]}}}
