{:mvn/repos
 {"central" {:url "https://maven.aliyun.com/repository/public/"}
  "clojars" {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars/"}
  "maven-central" {:url "https://repo1.maven.org/maven2/"}
  "clojars-default" {:url "https://clojars.org/repo/"}}

 :aliases
 {:outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.2.0"}}}

  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.49.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :cider-cljs {:extra-deps {cider/cider-nrepl {:mvn/version "0.49.0"}
                            cider/piggieback {:mvn/version "0.5.3"}}
               :main-opts ["-m" "nrepl.cmdline" "--middleware"
                           "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}

  :run {:main-opts ["-m" "main.core"]}}}
